#### 1. Import Packages:

In [1]:
import numpy as np
import pandas as pd

import seaborn as sns

import scipy.stats as stats # statistical testings

#### 2. Data Availability:

In [2]:
data = pd.read_csv("D:\ALabs\Python for Data Science\STUDY MATERIAL\Hypothesis Testing- Case Study\cust_seg.csv")
data.head(3)

,custid,gender,AqChannel,region,Marital_status,segment,pre_usage,Post_usage_1month,Latest_mon_usage,post_usage_2ndmonth
0,70,0,4,1,1,1,57,52,49.2,57.2
1,121,1,4,2,1,3,68,59,63.6,64.9
2,86,0,4,3,1,1,44,33,64.8,36.3

#### 3. EDA:

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   custid               200 non-null    int64
 1   gender               200 non-null    int64
 2   AqChannel            200 non-null    int64
 3   region               200 non-null    int64
 4   Marital_status       200 non-null    int64
 5   segment              200 non-null    int64
 6   pre_usage            200 non-null    int64
 7   Post_usage_1month    200 non-null    int64
 8   Latest_mon_usage     200 non-null    float64
 9   post_usage_2ndmonth  200 non-null    float64
dtypes: float64(2), int64(8)
memory usage: 15.8 KB

In [4]:
data.gender.value_counts()

1    109
0     91
Name: gender, dtype: int64

In [5]:
data.region.value_counts()

2    95
3    58
1    47
Name: region, dtype: int64

In [6]:
data.segment.value_counts()

2    105
3     50
1     45
Name: segment, dtype: int64

### Q1: Relationship between Latest month usage & pre usage

##### 1. Define H0:
        
        There is no dependency  between latest month usage & pre usage.
        
##### 2. Define Ha:
        
        There is dependency between latest month usage & pre usage.
        
##### 3. At CI = 95%,
            
            p value = 0.05

##### 4. Perform the test:
                
                pearsonr

In [7]:
stats.pearsonr(data.Latest_mon_usage, data.pre_usage)

(0.6622801251558604, 1.2767419295069158e-26)

##### 5. Rejection Rule:
        
        Since new p-value < 0.05, We will reject H0!
        
                    or
         Pearsonr co-efficient value is +ve, hence we reject H0!

##### 6. Business Conclusion:
        
        There is a dependecy between latest month & pre-usage

### Q2: Credit card usage has increased from last year which was 50.

##### 1. Define H0:
        
        u < 50
        
##### 2. Define Ha:
        
        u > 50.
        
##### 3. At CI = 95%,
            
            p value = 0.05

##### 4. Perform the test:
                
               t-test

In [8]:
stats.ttest_1samp(data.Latest_mon_usage, 50)

Ttest_1sampResult(statistic=16.57233752433133, pvalue=2.4963719280931583e-39)

##### 5. Rejection Rule:

        Since new p-value < 0.05, We will reject H0!

##### 6. Business Conclusion:
           
           Credit card usage is not less as compared to last year usage.

In [9]:
data.Latest_mon_usage.mean()

63.17400000000001

### Q3: Is there any relation between Region & Segment?

In [11]:
data.region.value_counts()

2    95
3    58
1    47
Name: region, dtype: int64

In [12]:
data.segment.value_counts()

2    105
3     50
1     45
Name: segment, dtype: int64

In [14]:
obs = pd.crosstab(index = data.region, columns= data.segment)
obs

# observed frequency table

segment   1   2   3
region
1        16  19  12
2        20  44  31
3         9  42   7

##### 1. Define H0:
        
        There is no dependency between region & segment
        
##### 2. Define Ha:
        
        There is dependency between region & segment.
        
##### 3. At CI = 95%,
            
            p value = 0.05

##### 4. Perform the test:
                
                chi square test

In [15]:
stats.chi2_contingency(obs)

(16.604441649489342,
 0.0023066300908054713,
 4,
 array([[10.575, 24.675, 11.75 ],
        [21.375, 49.875, 23.75 ],
        [13.05 , 30.45 , 14.5  ]]))

##### 5. Rejection Rule:

        Since new p-value < 0.05, We will reject H0!
        
##### 6. Business Conclusions:
        
        We fail to accept the fact that there is no relation between region & segment

### Q4: Difference between segments of the customers in terms of credit card usage.

In [18]:
usage = 'pre_usage'

In [20]:
s1 = data.loc[data.segment == 1 , usage]
s2 = data.loc[ data.segment ==  2, usage]
s3 = data.loc[ data.segment == 3, usage]

In [22]:
print("Mean credit card usage of segment 1 = ", s1.mean())
print("Mean credit card usage of segment 2 = ", s2.mean())
print("Mean credit card usage of segment 3 = ", s3.mean())

Mean credit card usage of segment 1 =  49.75555555555555
Mean credit card usage of segment 2 =  56.161904761904765
Mean credit card usage of segment 3 =  46.2

##### 1. Define H0:
        
        u1 =  u2 = u3
        
##### 2. Define Ha:
        
        u1 <> u2 <> u3
        
##### 3. At CI = 95%,
            
            p value = 0.05

##### 4. Perform the test:
                
                f-test

In [23]:
stats.f_oneway(s1, s2, s3)

F_onewayResult(statistic=21.28234763340855, pvalue=4.283274139124812e-09)

##### 5. Rejection Rule:
        
        Since new p-value < 0.05, We will reject H0!

##### 6. Business  Conclusion:
        
        Different segments of customers use the card differently

### Q5. Is there any difference between male & female in terms of credit card usage?

In [25]:
##### Before Campaign:
usage = 'pre_usage'

In [26]:
male_usage = data.loc[data.gender == 0, usage]
female_usage = data.loc[ data.gender ==  1, usage]

In [28]:
print("Mean card usage for male customers = ", male_usage.mean())
print("Mean card usage for female customers = ", female_usage.mean())

Mean card usage for male customers =  52.824175824175825
Mean card usage for female customers =  51.73394495412844

##### 1. Define H0:
        
        credit card usage for male & female is same
                        or
                      u1 =  u2
        
##### 2. Define Ha:
        
       credit card usage for male & female is different
                       or
                     u1 <> u2
        
##### 3. At CI = 95%,
            
            p value = 0.05

##### 4. Perform the test:
                
                ttest---> independent

In [29]:
stats.ttest_ind(male_usage, female_usage)

Ttest_indResult(statistic=0.7480109580953392, pvalue=0.4553410655360075)

##### 5. Rejection Rule:
        
        Since new p-value > 0.05, We fail to reject H0!

##### 6. Business  Conclusion:
        
       there is no difference in  card usage for male & female customers

In [30]:
##### Post campaign:
usage = 'Latest_mon_usage'

In [34]:
male_usage = data.loc[data.gender == 0, usage]
female_usage = data.loc[ data.gender ==  1, usage]

In [32]:
print("Mean card usage for male customers = ", male_usage.mean())
print("Mean card usage for female customers = ", female_usage.mean())

Mean card usage for male customers =  63.53406593406595
Mean card usage for female customers =  62.87339449541283

In [33]:
stats.ttest_ind(male_usage, female_usage)

Ttest_indResult(statistic=0.41299864929687874, pvalue=0.680054497423219)

### Q6. Campaign was successful in terms of credit card usage

In [37]:
stats.ttest_rel(data.pre_usage, data.post_usage_2ndmonth)

Ttest_relResult(statistic=-8.866832246938742, pvalue=4.295733828012836e-16)

In [36]:
print("Mean of card usage before campaign = ", data.pre_usage.mean() )
print("Mean of card usage after campaign = ", data.post_usage_2ndmonth.mean() )

Mean of card usage before campaign =  52.23
Mean of card usage after campaign =  58.05250000000003

##### 1. Define H0:
        
        u2 <= u1

        
##### 2. Define Ha:
        
               u2 > u1
        
##### 3. At CI = 95%,
            
            p value = 0.05

##### 4. Perform the test:
                
                t-test

##### 5. Rejection Rule:
        
        Since new p-value < 0.05, We will reject H0!

##### 6. Business  Conclusion:
        
       Post campaign credit card usage is different than pre-campaign.